@media screen and (max-width: 600px) {
    body .table {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .table .tr {
        display: flex;
        flex-direction: column;
    }

    .table .td {
        white-space: nowrap;
    }
}

.btn-width100{
    width:100px;
}
.center-screen {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto;
    min-height: 100vh;
}
